.container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
    margin: auto;
    gap: 20px;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
}